@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Roboto&display=swap');

html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background-image: url('/static/sushi.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header {
    border-bottom: 2px solid #C59D5F;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    color: white;
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
    justify-content: center;
    width: max-content;
    font-size: 1.5rem;
    margin: 0;
    padding: 0px;
}

li:hover {
    cursor: pointer;
    color: #C59D5F;
}

.mainContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 10% 150px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
}

.paragraph {
    padding: 20px;
    text-align: center;
    color: black;
    margin: 20px;
}

.name {
    color: #C59D5F;
    text-shadow: black 1px 0 15px;
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 6em;
}

.button {
    padding: 20px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.125);
    cursor: pointer;
    background-color: #C59D5F;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.button:hover {
    /* hover styles for the button */
    background-color: #A57C3F;;
}

.welcome {
    font-size: 2em;
}

h1 {
    margin: 0px;
    color: #C59D5F;
    text-shadow: black 1px 0 15px;
    font-family: "Herr Von Muellerhoff";
    font-size: 6em;
}

h1 .aboutTitle {
    margin-top: 20px;
}

.border {
    margin: 20px auto;
    background-color: #C59D5F;
    width: 80%;
    height: 5px;
}

.footer {
    border-top: 2px solid #C59D5F;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    color: white;
}

/* MENU */

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    width: 400px;
    max-width: 100%;
}

.menuItem {
    width: 200px;
}
.menuImage {
    height: 120px;
    width: 180px;
}

.menuTitle {
    display: flex;
    justify-content: center;
}

/* ABOUT */

.aboutImage {
    width: 80%;
    margin-bottom: 40px;
}